<div class="top-row ps-3 navbar navbar-dark">
    <div class="d-flex container-fluid">
        <a class="navbar-brand" href="">
            <img src="logo.svg" class="img-fluid" />
        </a>
    </div>
</div>
<div class="d-flex flex-column flex-grow-1 @NavMenuCssClass nav-scrollable px-3" @onclick="ToggleNavMenu">
    <NavMenu>
        <MenuItem Title="Domov" Href="/Home" Icon="bi-house-door"/>
        <MenuItem Title="Users" Href="/Users" Icon="bi-people" />
    </NavMenu>
    <div class="mt-auto mb-3">
        <LoginDisplay/>
    </div>
</div>

@code
{
    private bool _collapseNavMenu = true;

    private string? NavMenuCssClass => _collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }
}
