@inject NavigationManager NavigationManager

<div>
    <div class="btn-group mb-1 mt-1 w-100">
        @if (Href is not null)
        {
            <NavLink href="@Href" class="btn btn-light w-100 align-items-start text-start">
                <i class="bi @Icon me-2"></i>
                @Title
            </NavLink>
        }
        else
        {
            <button class="btn btn-light w-100 align-items-start text-start">
                <i class="bi @Icon me-2"></i>
                @Title
            </button>
        }
        <button class="btn btn-light" type="button" data-bs-toggle="collapse" data-bs-target="#@(Title)Collapse" aria-controls="@(Title)Collapse">
            <i class="bi bi-chevron-down"></i>
        </button>
    </div>
    <div class="ms-1 ps-3">
        <div class="collapse border-1 border-start @(Expanded?"show":"")" id="@(Title)Collapse">
            @ChildContent
        </div>
    </div>
</div>


@code {
    [Parameter]
    public string? Title { get; set; }

    [Parameter]
    public string? Icon { get; set; }

    [Parameter]
    public string? Href { get; set; }

    [Parameter] public RenderFragment ChildContent { get; set; } = null!;

    [Parameter] 
    public bool Expanded { get; set; }

    [Parameter]
    public bool? Disabled { get; set; }

    private void Redirect()
    {
        if (!string.IsNullOrEmpty(Href))
        {
            NavigationManager.NavigateTo($"{Href}");
        }
    }
}